<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/catalog.css' />
</head>

<body>
    <nav>
        <div class="operations">
            <a href="../operate/add">Add</a>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
        <div>Car Inventory</div>
        <a href="/">Home</a>
    </nav>
    <aside>
        <p>Categories</p>
        <% for( let index=0; index < categories.length; index++ ) { %>
            <div>
                <a href=<%=categories[index].name%>><%= categories[index].name %></a>
            </div>
            <% } %>
    </aside>
    <main>
        <% for( let index=0; index < cars.length; index++ ) { %>
            <a href="../cars/<%=cars[index].name %>"">
                <img src="" alt=" some image">
                <p>Name: <%= cars[index].name %>
                </p>
                <p>Price: <%= cars[index].price %>
                </p>
            </a>
            <% } %>
    </main>
</body>

</html>